body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color:#696969;
    margin: 0px;
    
}

section
 {
     padding: 40px 10%; /*pro padding zprava a zleva je nejlepší nastavovat v %*/
     overflow: auto;
}

.hlavicka
 {
     padding: 110px 10% 40px 10%; 
     overflow: auto;
     /*background-color: #FFF0F5;*/
     background-image: url(podklady/hlavicka.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     
}


/*.hlavicka img{
    width: 250px;
    border-radius: 50%;
    float: left;
    margin: 0 40px 40px 0;   
}*/


.hlavicka h1{
    
    font-size: 80px;
    font-weight: 100;
    margin: 0;
    color:/* #FFC0CB #FFB6C1 #F0A3B7*/#E09F9B;
    
    
}
/*.hlavicka img{
    float: left;
}*/

.hlavicka p{
   color:/* lightslategray*/#E09F9B;
}

.hlavicka a{
    color:/* lightslategray*/#E09F9B;
}

.omne img{
    width: 250px;
    border-radius:50%;
    float: left;
    margin: 0 40px 40px 0;
    padding-top: 40px;

}

h1{
    font-family: 'Satisfy', cursive, sans-serif;
    color: #E09F9B;
    font-size: 50px;
    margin: 0;

}

h2{
    color: #E09F9B;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
}

.paticka{
    background-color: #FFF0F5;
    text-align: center;
    padding: 20px 0;
    color:#E09F9B;
    
}

.prace
 h1{
    border-top: 2px solid #E09F9B;  
    padding-top: 20px; 
}

.dovednosti
 h1{
    border-top: 2px solid #E09F9B;
    padding-top: 20px;  
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive, sans-serif; 
font-family: 'Satisfy', cursive;*/
